// colors
$main-text-color: #727272;
$primary-color: #e4af1a;
$secondary-color: #799ff1;
$color: rgba(255,255,255,0.75);

//fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;