.footer {
  background-color: #f2f2f2;

  &__top {
    padding-top: 39px;
    padding-bottom: 50px;
  }

  &__logo {
    max-width: 93px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 26px;
    font-size: 11px;
    letter-spacing: 1px;
  }

  &__link {
    color: #656565;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    border-top: 1px solid #e0e1e3;
  }

  &__bottom-text {
    padding: 16px 0 15px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 10px;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 600;
    text-align: center;
  }
}