.about {
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f4f4f4;

  &__inner  {
    text-align: center;
  }

  &__link {
    display: inline-flex;
    gap: 12px;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    animation-duration: 1.5s;
  
    animation-timing-function: ease-in-out;
  }

  &__link:hover & {
    &__icon {
      animation-name: bounce;
    }
  }

}