.header {
  &__inner {
    display: flex;
    gap: 30px;
    padding-left: 32px;
  }

  &__logo {
    max-width: 111px;
    padding-top: 27px;
    padding-bottom: 18px;
    flex-shrink: 0;
  }

  &__links {
    flex-grow: 1;
  }

  &__auth,
  &__menu {
    display: flex;
    justify-content: flex-end;
  }  
}